model_config_list: {
 config:
 {
    name: 'age_model',
    base_path: '/models/age_model/',
    model_platform: 'tensorflow'
 },
 config:
 {
    name: 'gender_model',
    base_path: '/models/gender_model/',
    model_platform: 'tensorflow'
 },
 config:
 {
    name: 'ethnicity_model',
    base_path: '/models/ethnicity_model/',
    model_platform: 'tensorflow'
 }
}